html, body, div, h1, h2, h3, h4, h5, h6, p,
table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    background-color: #fff;
}

body {
    min-width: 1000px;
    padding: 30px;
    background-color: #f0f0f0;
}

/*ホーム画面*/
.filtered-posts {
    margin-bottom: 40px;
}

.message {
    background-color: aliceblue;
    margin-bottom: 30px;
    padding: 25px;
}

.main-contents .message .subject {
    font-size: 20px;
}

.main-contents .message .main-text {
    font-size: 18px;
}

.main-contents .message .message-category {
    font-size: 13px;
    margin-bottom: 10px;
}

.main-contents .message .message-datetime {
    font-size: 13px;
}

.main-contents .message .messager {
    font-size: 13px;
}

.comment-meta {
  display: flex;
  font-size: 13px;
  color: black;
  margin-bottom: 5px;
}

.comment-meta .comment-date {
    margin-right: 3px;
}

.comment-meta .comment-datetime {
    margin-right: 10px;
}

.comment-text {
    margin-bottom: 10px;
}

.subject {
    clear: both;
}

.message-datetime,
.messager  {
    float: left;
    padding: 0 10px 0 0;
}

.login-time {
    display: flex;
    font-size: 13px;
}

/*新規投稿ボタン*/
.button-new a {
    background-color: #fff;
     border: double 9px #3cb371;
     color: #3cb371;
     border-radius: 10px;
     padding: 10px 80px;
     text-decoration: none;
     font-size: 1.1em;
     font-weight: bold;
     display: inline-block;
     cursor: pointer;
}
.button-new a:hover {
    color: #3cb371;
    background-color: #f0fff0;
    cursor: pointer;
}

/*ホーム画面ヘッダー*/
.header-contents .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*ログアウトボタン*/
.header-contents .header form .button-logout {
    position: relative;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
    cursor: pointer;
}

.header-contents .header form .button-logout:hover {
    transform: translate3d(0.2rem, 0.2rem, 0);
    box-shadow: none;
    opacity: 1;
    transition: all 0.2s;
}


/*ユーザー管理ボタン*/
.header-contents .header .userManage-wrap .btn-userManage {
    /*display: block;
    width: 110px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3cb371;
    border: solid 1px #333;
    border-radius: 5px;*/
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    margin-bottom: 10px;
    padding: 10px 25px;
    color: #543618;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.header-contents .header .btn-userManage:hover {
    transform: translate3d(0.2rem, 0.2rem, 0);
    box-shadow: none;
    opacity: 1;
    transition: all 0.2s;
}


/* --- 本文 --- */
.main-contents .message .main-text span {
    white-space: pre-wrap;
    word-break: break-all;
}

/* --- コメント --- */
.main-contents .message .comment-text span {
    white-space: pre-wrap;
    word-break: break-all;
}

/*コメントテキストボックス*/
.main-contents .comment-form form textarea {
    width: 500px;
    height: 70px;
    font-size: 14px;
}

/*投稿削除ボタン*/
.message .message-delete form input[type="submit"] {
    background-color: #fff;
    border: solid 2px #ea553a;
    color: #ea553a;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 8px;
}

.message .message-delete form input[type="submit"]:hover {
    color: #ea553a;
    background-color: #ffb6c1;
}

/*返信ボタン*/
.comment-form form input[type="submit"] {
    background-color: #fff;
    border: solid 2px #2f4f4f;
    color: #2f4f4f;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
}

.comment-form form input[type="submit"]:hover {
    color: #2f4f4f;
    background-color: #b0e0e6;
}

/*コメント削除ボタン*/
.replies .replies-delete form button[type="submit"] {
    background-color: #fff;
    border: solid 2px #ea553a;
    color: #ea553a;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 8px;
}

.replies .replies-delete .comment-delete form button[type="submit"]:hover{
    color: #ea553a;
    background-color: #ffb6c1;
}


/* ---------------
　ログイン画面
--------------- */
.page-login {
    width: 500px;
    margin: 70px auto 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 2px #DDD;
}

.page-login h1 {
    margin-bottom: 30px;
}

.page-login .input-area {
    width: 300px;
    padding: 7px 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.page-login .input-account {
    margin-bottom: 20px;
}

.page-login .input-password {
    margin-bottom: 20px;
}

.page-login .input-password .pwVisible:hover {
    cursor: pointer;
}

.page-login .btn-login {
    width: 100px;
    height: 35px;
    color: #fff;
    background-color: #3cb371;
    border-radius: 5px;
}

.page-login .btn-login:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* ---------------
　新規投稿画面
--------------- */
.page-new {
    width: 500px;
    margin: 70px auto 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 2px #DDD;
}

.page-new .btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.page-new h1 {
    margin-bottom: 30px;
}

.page-new .main-contents {
    margin-bottom: 30px;
}

.page-new .main-contents .form-area {
    margin-bottom: 20px;
}

.page-new .main-contents .input-area {
    width: 400px;
    padding: 7px 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

/* --- 追加ボタン --- */
.page-new .main-contents .btn-add {
    width: 70px;
    padding: 5px;
    color: #fff;
    background-color: #3cb371;
    border-radius: 5px;
}

/* --- 戻るボタン --- */
.page-new .btn-return button {
    width: 70px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

/* ---------------
　ユーザー管理画面
--------------- */
.page-user {
    padding: 30px;
    background-color: #fff;
}

.page-user .btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.page-user h1 {
    margin-bottom: 30px;
}

.page-user .main-contents .btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.page-user .main-contents .user-add {
    margin-bottom: 20px;
}

.page-user .main-contents .user-add .btn-userAdd {
    display: block;
    width: 150px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3cb371;
    border: solid 1px #333;
    border-radius: 5px;
}

.page-user .main-contents .btn-return {
    margin-bottom: 30px;
}

.page-user .main-contents .user-list {
    border-collapse: collapse;
}

.page-user .main-contents .user-list thead tr th {
    padding: 5px 10px;
    border: solid 1px #333;
    background-color: #f8f8f8;
}

.page-user .main-contents .user-list tbody tr td {
    padding: 5px 10px;
    border: solid 1px #333;
}

.page-user .main-contents .user-list tbody tr .user-status form select {
    margin-right: 10px;
}

/* ---------------
　ユーザー登録画面
--------------- */
.page-userAdd {
    width: 600px;
    margin: 70px auto 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 2px #DDD;
}

.page-userAdd .btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.page-userAdd h1 {
    margin-bottom: 30px;
}

.page-userAdd .main-contents {
    margin-bottom: 30px;
}

.page-userAdd .main-contents .form-area {
    margin-bottom: 20px;
}

.page-userAdd .main-contents .input-area {
    width: 300px;
    padding: 7px 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.page-userAdd .main-contents .form-password-chkOnly .pwVisible:hover {
    cursor: pointer;
}

/* --- 追加ボタン --- */
.page-userAdd .main-contents .btn-add {
    width: 70px;
    padding: 5px;
    color: #fff;
    background-color: #3cb371;
    border-radius: 5px;
}

/* --- 戻るボタン --- */
.page-userAdd .btn-return button {
    width: 70px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

/* ---------------
　ユーザー編集画面
--------------- */
.page-userEdit {
    width: 600px;
    margin: 70px auto 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 2px #DDD;
}

.page-userEdit .btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.page-userEdit h1 {
    margin-bottom: 30px;
}

.page-userEdit .main-contents {
    margin-bottom: 30px;
}

.page-userEdit .main-contents .form-area {
    margin-bottom: 20px;
}

.page-userEdit .main-contents .form-area .note {
    font-size: 14px;
}

.page-userEdit .main-contents .input-area {
    width: 300px;
    padding: 7px 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.page-userEdit .main-contents .form-password-chkOnly .pwVisible:hover {
    cursor: pointer;
}

/* --- 更新ボタン --- */
.page-userEdit .main-contents .btn-update {
    width: 70px;
    padding: 5px;
    color: #fff;
    background-color: #3cb371;
    border-radius: 5px;
}

/* --- 戻るボタン --- */
.page-userEdit .btn-return button {
    width: 70px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
}
