html, body, div, h1, h2, h3, h4, h5, h6, p,
table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    background-color: #fff;
}

body {
    min-width: 1000px;
    padding: 30px;
    background-color: #f0f0f0;
}

/*新規投稿ボタン*/
.button-new a {
    background-color: #fff;
     border: double 9px #3cb371;
     color: #3cb371;
     border-radius: 10px;
     padding: 10px 80px;
     text-decoration: none;
     font-size: 1.1em;
     font-weight: bold;
     display: inline-block;
     cursor: pointer;
}
.button-new a:hover {
    color: #3cb371;
    background-color: #f0fff0;
    cursor: pointer;
}

/*ユーザ管理ボタン*/
.header-contents .header a.user-manage-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*ログアウトボタン*/
.header-contents .header form .button-logout {
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
    cursor: pointer;
}

.header-contents .header form .button-logout:hover {
    transform: translate3d(0.2rem, 0.2rem, 0);
    box-shadow: none;
    opacity: 1;
    transition: all 0.2s;
}

.header-contents .header form .button-logout:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

/*コメントテキストボックス*/
.main-contents .comment-form form textarea {
    width: 500px;
}

/*返信ボタンと削除ボタン*/
.button-row {
    display: flex;   /* 横並び */
    gap: 10px;       /* ボタン間のスペース */
    margin-top: 5px;
}

.reply-btn,
.button-delete {
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------------
ログイン画面
--------------- */
.login {
    width: 500px;
    margin: 70px auto 0;
    padding: 30px;
    box-shadow: 0px 2px 4px 2px #DDD;
}

.login h1 {
    margin-bottom: 30px;
}

.login .input-area {
    width: 300px;
    height: 30px;
    border: solid 1px #000;
    border-radius: 5px;
}

.login .input-account {
    margin-bottom: 20px;
}

.login .input-password {
    margin-bottom: 20px;
}

.login .btn-login {
    width: 100px;
    height: 35px;
    color: #fff;
    background-color: #1E88E5;
    border-radius: 5px;
}

.login .btn-login:hover {
    cursor: pointer;
    opacity: 0.7;
}