<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <title>ユーザー管理</title>
    </head>

    <body>
        <div class="page-user">
            <h1>ユーザー管理画面</h1>

            <!-- ユーザー編集画面への不正アクセスに関するエラーメッセージ -->
            <div th:if="${errorCode}">
                <p th:text="${errorCode}" style="color:red;"></p>
                <br>
            </div>

            <div class="main-contents">
                <div class="user-add">
                    <a class="btn-userAdd btn" th:href="@{/admin/addUser}">ユーザー追加</a>
                </div>

                <div class="btn-return">
                    <form action="/">
                        <button class="btn" type="submit">戻る</button>
                    </form>
                </div>

                <table class="user-list">
                    <thead>
                        <tr>
                            <th>ユーザーID</th>
                            <th>アカウント名</th>
                            <th>氏名</th>
                            <th>支社ID</th>
                            <th>支社</th>
                            <th>部署ID</th>
                            <th>部署</th>
                            <th>状態</th>
                            <th>登録日時</th>
                            <th>更新日時</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="user : ${users}">

                            <!-- ユーザーID -->
                            <td class="user-id" th:text="${user.id}"></td>

                            <!-- アカウント名 -->
                            <td class="user-account" th:text="${user.account}"></td>

                            <!-- 氏名 -->
                            <td class="user-name" th:text="${user.name}"></td>

                            <!-- 支社ID -->
                            <td class="user-branchId" th:text="${user.branchId}"></td>

                            <!-- 支社 -->
                            <td class="user-branch" th:text="${user.branchName}"></td>

                            <!-- 部署ID -->
                            <td class="user-departmentId" th:text="${user.departmentId}"></td>

                            <!-- 部署 -->
                            <td class="user-department" th:text="${user.departmentName}"></td>

                            <!-- 状態 -->
                            <td class="user-status">
                                <form th:action="@{/change/{id}(id=${user.id})}" th:method="put" onsubmit="return confirmChange();">
                                    <!-- ログインユーザーIDと編集対象のIDが一致した場合は、選択できない仕様 -->
                                    <select name="userStatus" th:disabled="${loginUser.id == user.id}">
                                        <option value="0" th:selected="${user.isStopped == 0}">稼働</option>
                                        <option value="1" th:selected="${user.isStopped == 1}">停止</option>
                                    </select>

                                    <button class="btn" type="submit" th:if="${loginUser.id != user.id}">変更</button>
                                </form>
                            </td>

                            <!-- 登録日時 -->
                            <td class="user-createdDate" th:text="${#temporals.format(user.createdDate, 'yyyy/MM/dd HH:mm:ss')}"></td>

                            <!-- 更新日時 -->
                            <td class="user-updatedDate" th:text="${#temporals.format(user.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"></td>

                            <!-- 編集ボタン -->
                            <td class="user-edit">
                                <form th:action="@{/admin/editUser/{id}(id=${user.id})}" th:method="get" onsubmit="return confirmChange();">
                                    <button class="btn" type="submit">編集</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 変更処理時のダイアログ表示 -->
        <script>
            function confirmChange() {
                return confirm("変更しますか？");
            }
        </script>
    </body>
</html>